*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
    display: flex;
    background: linear-gradient(0.25turn, #1852be, #181736);
    color: white;
    padding: 20px;
    align-items: center;
}
#nav-bar > div{
    display: flex;
    align-items: center;
    font-size: 14px;
}

#nav-bar > div > img{
    width: 20px;
}

#newton-logo-txt{
    font-weight: 700;
}

#nav-bar > div:first-child{
    flex-grow: 10;
}

button{
    color: white;
    background-color: blue;
    padding: 8px 14px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}